<!--single country -->
<a href="singleCountry.html">
  <article class="single-country">
    <div class="single-country__wrapper">
      <picture class="single-country__flag">
        <img
          id="flag"
          src="https://img.freepik.com/premium-photo/flag-germany-3d-illustration-german-flag-waving_2227-1776.jpg?w=2000"
          alt="flag"
        />
      </picture>
      <div class="single-country__discription">
        <h3>Germany</h3>
        <div class="single-country__discription__wrapper">
          <span class="single-country__population"
            ><span class="title population-title">Population:</span>
            <span class="population-number">81,000,000</span>
          </span>
          <span class="single-country__region"
            ><span class="title region-title">Region:</span
            ><span class="region-name">europe</span>
          </span>
          <span class="single-country__capital"
            ><span class="title capital-title">Capital:</span
            ><span class="country-capital">capital</span>
          </span>
        </div>
      </div>
    </div>
  </article>
</a>
<!--end of single country-->
