@import url('./_variables.scss');
/*DARK THEME*/
:root {
  --clr-mode-elements: hsl(0, 0%, 100%);
  --clr-font: #282c35;
  --clr-primary: #d23669;
  --clr-grey: #64748b;
  --clr-mode-background: hsl(0, 0%, 98%);
  --clr-mode-text: hsl(200, 15%, 8%);
  --clr-mode-input: hsl(0, 0%, 52%);
}

.dark-theme {
  --clr-mode-background: hsl(207, 26%, 17%);
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
  --clr-grey: #cbd5e1;
  --clr-mode-elements: hsl(209, 23%, 22%);
  --clr-mode-text: hsl(0, 0%, 100%);
}
html {
  background-color: var(--clr-mode-background);
  transition: background 1s;
}

/*dark btn*/
.dark-btn {
  padding: 0.25rem 0.3rem;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: bold;

  background: var(--clr-primary);
  color: var(--clr-font);
  border-color: transparent;

  transition: all 0.3s linear;
  cursor: pointer;
}
.dark-btn > i {
  transition: all 1s ease-in-out;
}

.dark-theme .dark-btn {
  background-color: var(--clr-font);
  color: black;
}

.dark-theme header,
#filter-search,
.single-country__wrapper,
#continents {
  background-color: var(--clr-mode-elements);
  color: var(--clr-mode-text);
}

.dark-theme .single-page__article {
  color: var(--clr-mode-text);
}

.fa-sun {
  opacity: 0;
}

.fa-circle-notch {
  transform: translateX(-15px);
}
.move_sun {
  opacity: 1;
  transform: rotate(360deg);
}
.move_circle {
  transform: translateX(15px);
}
.move_moon {
  opacity: 0;
  transform: rotate(180deg);
}

@media screen and (max-width: 960px) {
  .dark-btn {
    transform: scale(0.8);
  }
}
.hide-logo {
  display: none;
}
.open-logo {
  display: block;
}
